* {
  box-sizing: border-box;
}

.lien {
  text-align: center;
}

.colorlien {
  background-color: rgb(0, 0, 0);
  margin-top: 250px;
}

.colorl {
  background-color: rgb(194, 184, 152);
}

.colorp {
  background-color: rgb(187, 171, 136);
}

.colora {
  background-color: rgb(230, 218, 168);
}

.vp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img1 {
  filter: grayscale(100%);
  width: 95%;
  height: 95%;
  margin-top: 15px;
}

.img1:hover {
  filter: grayscale(0%);
}

.imgbis {
  filter: grayscale(100%);
  width: 95%;
  height: 95%;
  margin-top: 80px;
}

.imgbis:hover {
  filter: grayscale(0%);
}

.imgli {
  margin-top: 50px;
  width: 85%;
}

.imgpo {
  margin-top: 50px;
  width: 85%;
}

.imgal {
  margin-top: 50px;
  width: 85%;
}

.container1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.left {
  position: absolute;
  top: 610px;
  right: 15%;
}

.container2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.center {
  position: absolute;
  top: 63px;
  right: 25%;
}

.container3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.right {
  position: absolute;
  top: 610px;
  right: 15%;
}
